{# Creating the genus form for a new entry into the list #}

{{ form_start(genusForm) }}

    {# Instead of form_widge : using form_row -- can change order of fields or control the labels or etc.. #}
            {# {{ form_widget(genusForm) }} #}


    {{ form_row( genusForm.name) }}
    {{ form_row( genusForm.subFamily) }}
    {{ form_row( genusForm.speciesCount, {'label' : 'Number of Species'}) }}
    {{ form_row( genusForm.funFact) }}
    {{ form_row( genusForm.isPublished) }}
    {{ form_row( genusForm.firstDiscoveredAt, {'label' : 'Date of Discovery'}) }}


    {# To disable HTML% validation #}
<button type="submit" class="btn btn-primary" formnovalidate>Save</button>

{{ form_end(genusForm) }}